body{
	background-color:#eee;
	color:#585858;
}
/*Application Style*/

.jsAccordion{
	
}

.jsAccordion .firstLv{
	list-style: none;
	height:0;
	overflow: hidden;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	/* IE 5-7 */
	filter: alpha(opacity=0);

	/* Netscape */
	-moz-opacity: 0;

	/* Safari 1.x */
	-khtml-opacity: 0;

	/* Good browsers */
	opacity: 0;
}

.jsAccordion .secondLv{
	list-style: none;
	height:0;
	overflow: hidden;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	/* IE 5-7 */
	filter: alpha(opacity=0);

	/* Netscape */
	-moz-opacity: 0;

	/* Safari 1.x */
	-khtml-opacity: 0;

	/* Good browsers */
	opacity: 0;
}
.jsAccordion .jsAccorShow{
	height:auto;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

	/* IE 5-7 */
	filter: alpha(opacity=100);

	/* Netscape */
	-moz-opacity: 1;

	/* Safari 1.x */
	-khtml-opacity: 1;

	/* Good browsers */
	opacity: 1;
}

/*myStyle*/

.centerWrap{
	width:300px;
	margin:0 auto;
}

h1{
	font-family: Century Gothic, sans-serif;
	font-weight: 100;
	text-align: center;
}
#myAccordion{
	border-radius: 10px;
	padding:10px 0;
	border:1px solid #ccc;
	background-color: #2185C5;
	box-shadow: 2px 2px 22px 2px #ccc;
}
.menuName{
	padding:0;
	margin:0;
	text-align: center;
	color:#fff;
	padding:10px 0;
	font-size: 18px;
	font-weight: 100;
}
.myFirstLv, .mySecondLv{
	padding:0;
	margin:0;
	text-align: center;
	color:#fff;
}
.myFirstLv>li{
}
.myFirstLv>li>p{
	padding:10px 0;
	margin:0;
	background-color:#2795d5;
	border-bottom:1px solid #2185C5;
	box-shadow: inset 0px 20px 20px -20px #2185C5;
}
.mySecondLv>li{
	padding:10px 0;
	background-color: #7ECEFD;
	color:#3E454C;
	border-bottom:1px solid #2185C5;
	box-shadow: inset 0px 2px 2px -2px #2795d5;
	list-style: none;
}

