body{
	background-color:#eee;
	color:#585858;
}
/*Application Style*/

/*myStyle*/

.centerWrap{
	width:500px;
	margin:0 auto;
}

h1{
	font-family: Century Gothic, sans-serif;
	font-weight: 100;
	text-align: center;
}
.menuName{
	padding:0;
	margin:0;
	text-align: center;
}
#jsAccordion{
	padding:10px;
	border:1px solid #595959;
}

.firstLv, .secondLv{
	padding:0;
	margin:0;
}

.firstLv>li{
	list-style: none;
}

.secondLv>li{
	list-style: none;
}